@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
.container{
  width: 100vw;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator{
  max-width: 920px;
  width: 100%;
  height: 481px;
  background-color: #fff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
}
.infoBox {
  width: 50%;
  padding: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.billBox, .numberOfPeopleBox{
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3F9FA;
  border-radius: 5px;
}
.billBox input, .numberOfPeopleBox input {
  height: 100%;
  width: 80%;
  background-color: #F3F9FA;
  border: none;
  outline: none;
  text-align: right;
  font-size: 24px;
  font-family: 'Space Mono';
  
}
::placeholder {
  font-weight: 700;
  font-size: 24px;
  color: #547878;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.billBox img {
  width: 9px;
  height: 15px;
}
.numberOfPeopleBox img {
  width: 13px;
  height: 16px;
}
.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
}
.buttons input {
  width: 105px;
  height: 48px;
  text-align: right;
  font-size: 24px;
  font-family: 'Space Mono';
  background-color: #F3F9FA;
  border: none;
  outline: none;
}
.tipButton {
  width: 105px;
  height: 48px;
  background-color: #00474B;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
  font-family: 'Space Mono';
}
.tipButton:hover {
  background-color:#9FE8DF;
  color: #00474B;

}
.labels {
  display: flex;
  justify-content: space-between;
}
label {
  font-weight: 700;
   font-size: 16px;
   color: #5E7A7D;
   font-family: 'Space Mono';
}
.zero {
  color: #E17457;
}
.resultBox {
  width: 50%;
  padding: 40px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
  background-color: #00474B;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.tipAmountBox, .totalBox {
  width: 333px;
  height: 71px;
  display: flex;
  justify-content: space-between;
}
.tipAmountBox > div, .totalBox > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tipAmountBox h6, .totalBox h6 {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  font-family: 'Space Mono';
}
.tipAmountBox p, .totalBox p{
  font-weight: 700;
  font-size: 13px;
  color: #7F9D9F;
  font-family: 'Space Mono';
} 
.tipAmountBox h2, .totalBox h2 {
  font-weight: 700;
  font-size: 48px;
  color: #26C2AE;
  font-family: 'Space Mono';
}
.resetBox {
  width: 333px;
  height: 48px;
  border-radius: 5px;
  background-color: #0D686D;
  color: #00474B;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono';
  cursor: pointer;
}
.resetBox:hover {
  background-color: #9FE8DF;
}
#active {
  background-color: #26C2AE;
  color: #00474B;
}
#resetActive {
  background-color: #26C2AE;
}